 b/* reset css  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
html{
    font-family: Arial, Helvetica, sans-serif;
}
#ropber{

}
body{
    margin: 0;
}
#header{
    height: 60px;
    padding: 0;
    background-color: #000;
    display: flex;
    align-items: center;
}
.logo img{
   height: 60px;
   margin: 0 30px; 
}
#nav{
    list-style: none;
    margin: 0;
    padding: 0;
}
#nav li {
    display: inline-block;
    position: relative !important;
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 60px;
    padding: 0 10px;
    display: inline-block;
    
}
#nav >  li:hover > a{
    color: #000;
    background-color: #ccc; 
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #ccc;
    list-style: none;
    /* chỉ sửa padding bằng 0 để không bị khoảng cách rộng */
    padding: 0;
    /* set chiều dài bằng auto để tự động thay đổi, nếu em muốn cho phần khung ul vừa kích thước của chữ thì sau này có thể sửa lại */
    height: auto;
    /* set absolute để lấy thẻ relative bên trên làm chuẩn rồi thay đổi theo kích cỡ*/
    position: absolute;
    /* Thêm chiều rộng bằng 100% thẻ cha, sau này thay đổi kích cỡ thẻ cha thì thẻ con sẽ thay đổi theo thẻ cha */
    width: 100%;
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav li a{
    color: #000;
    padding: 10px 20px; 
    display: block;
}S
#nav .subnav a{
    color: #000;
}

#slider{
    min-height: 500px;
    background-color: #333
    ;

}

#content{

}

#footer{

}
